.grid-container {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: 10% 1.5fr 0.5fr 30% 10%; 
  gap: 0px 0px;
  justify-items: stretch
}