.swiper {
  width: 100%;
  height: 100%;
  &-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  &__img {
    &-1 {
      color: white;
      background: url(../assets/img/pc-1.jpg) no-repeat fixed center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      width: 100vw;    
    }
    &-2 {
      color: white;
      background: url(../assets/img/pc-2.jpg) no-repeat fixed center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      width: 100vw;
    }
    &-3 {
      color: white;
      background: url(../assets/img/pc-3.jpg) no-repeat fixed center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      width: 100vw;
    }
    &-4 {
      color: white;
      background: url(../assets/img/pc-4.jpg) no-repeat fixed center;
      background-size: cover;
      height: 70vh;
      text-align: center;
      width: 100vw;
    }

  }
}
