.navbar {
  background-color: #276A76;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  align-items: center;
  width: 100%;
  height: fit-content;
  &__nav{
    margin-right: 3rem;
  }
  &__container-list {
    list-style: none;
    align-content: flex-end;
    overflow: hidden;
  }
  &__list {
    float: right;
  }
  &__a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    &:hoover {
      background: #75ACEC;
    }
  }
  &__letters-logo-p {
    display: block;
    flex-direction: column;
    padding-left: 1rem;
  }
  &__logo{
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    &-p {
      float: right;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    &__logo {
      margin-left: 22%
    }
    &__list {
      display: none;
    }
  }
}